@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add a dark theme background for the whole admin */
body {
  @apply bg-slate-950 text-slate-200;
}



.input-field {
  @apply w-full bg-slate-950 border border-slate-800 rounded-lg p-3 text-white focus:ring-2 focus:ring-blue-500 outline-none transition-all;
}
.label-text {
  @apply block text-xs font-bold text-slate-500 uppercase mb-1;
}